@media screen and (min-width: 480px) {
  .container {
    max-width: 426px;
  }
}

@media (max-width: 407px) {
  .modal {
    width: 100%;
    min-height: 586px;
  }
}

@media (max-height: 575px) {
  .modal {
    height: 100%;

    overflow: auto;
  }

  .message-input {
    height: auto;
  }
}

@media (max-width: 427px) {
  .mobile-menu-list-soc {
    gap: 0;
    justify-content: space-between;
  }
}
