:root {
  --primary-color: #434455;
  --secondary-color: #2e2f42;
  --web-color: #4d5ae5;
  --white-color: #ffffff;
  --team-color: #f4f4fd;
  --footer-color: #e7e9fc;
  --hover-color: #404bbf;
  --modal-text-color: #8e8f99;
  --modal-input-color: rgba(33, 33, 33, 0.2);
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --modal-privacy-policy-color: #757575;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
  font-size: 16px;
  background-color: var(--white-color);
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
/*Reset styles*/
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.title-sections {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.works-card-title,
.title-desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.works-card-text,
.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*------------------------------HEADER------------------------------*/
.header {
  padding: 24px 0;
  width: 100%;

  border-bottom: 1px solid #e7e9fc;
}

.header > .container {
  max-width: 100%;
  padding: 0 15px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.logo-web {
  color: var(--web-color);
}

.header-list {
  display: none;
}

.header-adress {
  display: none;
}
.mobile-menu-btn {
  border: none;
  background-color: inherit;
}
.mobile-menu-icon {
  stroke: var(--secondary-color);
}

/*------------------------------HERO-SECTION------------------------------*/
.hero {
  text-align: center;
  background-color: var(--secondary-color);

  padding-top: 112px;
  padding-bottom: 112px;
  margin: 0 auto;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-bg-1x-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-bg-2x-min.jpg);
  }
}

.hero-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.hero-btn {
  padding: 16px 32px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white-color);
  background-color: var(--web-color);

  border: none;
  border-radius: 4px;

  transition: background-color var(--main-transition),
    box-shadow var(--main-transition);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*------------------------------ADVANTAGES-SECTION------------------------------*/
.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.advantages-item {
  width: 100%;
}

.advantages-item-title {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1, 11;
  text-align: center;
  letter-spacing: 0.02em;
}
.advantages-item-text {
  font-weight: 500;
}

.advantages-item-icons {
  display: none;
}
.advantages-item-icon {
}
/*------------------------------DOING-SECTION---------------------------------*/
.doing {
  display: none;
}
/*------------------------------TEAM-SECTION---------------------------------*/
.team {
  padding-top: 96px;
  padding-bottom: 128px;

  color: var(--secondary-color);
  background-color: var(--team-color);
}

.team > .container {
  max-width: 290px;
}

.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}
.team-item {
  min-width: 260px;
  background-color: var(--white-color);
  width: 100%;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-item-wrap {
  text-align: center;
  padding: 32px 16px;
}

.team-item-title {
  margin-bottom: 8px;
}
.team-item-text {
  margin-bottom: 8px;
}

.team-list-soc {
  display: flex;
  gap: 24px;
}
.team-item-soc {
  width: 40px;
  height: 40px;
}
.team-link-soc {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--web-color);
  transition: background-color var(--main-transition);
}
.team-link-soc:hover,
.team-link-soc:focus {
  background-color: var(--hover-color);
}

.team-soc-icon {
  fill: var(--team-color);
}

/*------------------------------CUSTOMERS-SECTION---------------------------------*/

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.customers-title {
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  column-gap: 16px;
  row-gap: 72px;
  flex-wrap: wrap;
}
.customers-item {
  width: calc((100% - 16px) / 2);
  height: 90px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color var(--main-transition);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--hover-color);
}

.customers-item-icon {
  fill: #8e8f99;
  transition: fill var(--main-transition);
}

.customers-link:is(:hover, :focus) .customers-item-icon {
  fill: var(--hover-color);
}
/*------------------------------FOOTER---------------------------------*/

.footer {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--secondary-color);
}

.footer-container {
  display: flex;
  row-gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-epil {
  max-width: 268px;
}

.footer-logo {
}

.footer-logo-text {
  line-height: 1.16;
  color: var(--footer-color);
}

.footer-text {
  margin-top: 16px;
  color: var(--footer-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.footer-soc {
}

.footer-title-soc {
  margin-bottom: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.footer-list-soc {
  display: flex;
  gap: 16px;
}
.footer-item-soc {
  width: 40px;
  height: 40px;
}
.footer-link-soc {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  transition: background-color var(--main-transition);
}

.footer-link-soc:hover,
.footer-link-soc:focus {
  background: #31d0aa;
}

.footer-soc-icon {
  fill: var(--team-color);
}

.footer-subscription-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--white-color);

  margin-bottom: 16px;
}

.footer-subscription-input {
  width: 100%;
  height: 40px;

  font-size: 100%;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-color);

  outline: transparent;
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  padding: 8px 16px;
}

.footer-subscription-wrap {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-subscription-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  background-color: var(--web-color);
  padding: 8px 24px;
  border: none;
  border-radius: 4px;

  transition: background-color var(--main-transition);
}

.footer-subscription-btn:is(:hover, :focus) {
  background-color: var(--hover-color);
}

.footer-subscription-btn-text {
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--white-color);
}
.footer-subscription-icon {
  fill: var(--white-color);
}
/*---------------------------------------------------------------*/
/*------------------------------PORTFOLIO------------------------------*/
/*---------------------------------------------------------------*/

/*------------------------------WORKS---------------------------------*/
.works {
  padding-bottom: 48px;
  padding-top: 48px;
}

.works-filter-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 16px;

  margin-bottom: 48px;
}

.works-filter-btn {
  padding: 12px 24px;

  min-width: 69px;
  height: 48px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: 1px solid #e7e9fc;
  border-radius: 4px;

  background-color: var(--team-color);
  color: var(--web-color);

  transition: background-color var(--main-transition),
    color var(--main-transition), box-shadow var(--main-transition);
}

.works-filter-btn:hover,
.works-filter-btn:focus {
  background-color: var(--hover-color);
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-card-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}
.works-card-item {
  width: 100%;
}

.works-card-link {
  display: block;
  transition: box-shadow var(--main-transition);
}

.works-card-link:hover,
.works-card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.works-card-link:is(:hover, :focus) .works-card-cover-text {
  transform: translateY(0);
}

.works-card-cover-wrap {
  position: relative;
  overflow: hidden;
}
.works-card-cover-text {
  position: absolute;
  top: 0;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--team-color);
  background-color: var(--hover-color);
  height: 101%;
  padding: 40px 32px;

  transform: translateY(100%);
  transition: transform var(--main-transition);
  overflow: auto;
}

.works-card-wrap {
  padding: 32px 16px;
  border-width: 0 1px 1px 1px; /* top right bottom left */
  border-style: solid;
  border-color: #e7e9fc;
}

.works-card-title {
  margin-bottom: 8px;
}
.works-card-text {
  color: var(--primary-color);
}

/*---------------------------------------------------------------*/
/*------------------------------MODAL-----------------------------*/
/*---------------------------------------------------------------*/

.backdrop {
  z-index: 2;
  position: fixed;
  top: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 1400ms ease-in-out, visibility 1400ms ease-in-out,
    background-color 400ms ease-in-out 1400ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 24px;

  transform: translate(-50%, -50%) scaleY(1);
  transition: all 400ms ease-in-out 700ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close-button {
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  padding: 0;

  transition: background-color var(--main-transition),
    fill var(--main-transition);
}

.modal-close-button:is(:hover, :focus) {
  background-color: var(--hover-color);
  fill: var(--white-color);
}

.modal-title {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-color);

  margin-top: 24px;
  margin-bottom: 16px;
}

.form-field {
  margin-bottom: 8px;
}

.input-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  color: var(--modal-text-color);

  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  padding-left: 38px;

  font-size: 14px;
  line-height: 1.33px;
  letter-spacing: 0.04em;
  background-color: transparent;
  color: var(--primary-color);

  transition: border-color var(--main-transition);
}

.modal-input:is(:hover, :focus) {
  border-color: var(--web-color);
}

.modal-input:is(:hover, :focus) + .intput-icon {
  fill: var(--web-color);
}

.intput-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--main-transition);
  fill: var(--secondary-color);
}

.message-input {
  width: 100%;
  height: 120px;

  border: 1px solid var(--modal-input-color);
  border-radius: 4px;
  outline: transparent;
  padding: 8px 16px;
  background-color: transparent;
  font-size: 14px;
  letter-spacing: 0.04em;

  color: var(--primary-color);
  resize: none;

  transition: border-color var(--main-transition);
}

.message-input::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.message-input:is(:hover, :focus) {
  border-color: var(--web-color);
}
/****************************/
.checkbox-wrap {
  position: relative;
  margin-bottom: 24px;
}

.icon-checkbox {
}

.checkbox {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--modal-privacy-policy-color);
  display: flex;
}

.checkbox-text span {
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: transparent;

  transition: background-color var(--main-transition),
    border var(--main-transition), fill var(--main-transition);
}

.checkbox:checked + .checkbox-text span {
  background-color: var(--hover-color);
  border: none;
  fill: var(--team-color);
}

.checkbox-link {
  color: var(--web-color);
}

.modal-btn-wrap {
  text-align: center;
}

.modal-btn {
  min-width: 169px;
  padding: 16px 32px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white-color);
  background-color: var(--web-color);

  border: none;
  border-radius: 4px;

  transition: background-color var(--main-transition),
    box-shadow var(--main-transition);
}

.modal-btn:is(:hover, :focus) {
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
